elasticsearch-haystack==2.0.0
fastapi==0.115.12
haystack-ai==2.11.1
haystack-experimental==0.6.0
ollama-haystack==3.4.0
opentelemetry-instrumentation-fastapi==0.51b0
pydantic==1.10.21
pydantic_core==2.27.2
PyJWT==2.3.0
PyMuPDF==1.26.3
python-dotenv==1.0.1
RapidFuzz==3.13.0
requests==2.32.3
requests-cache==0.9.8
requests-oauthlib==2.0.0
rich==13.9.4
sentence-transformers==3.4.1
uvicorn==0.34.0
